<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>

<body>
  <main id='popup'>
    <header>
      <h1>Tescrex</h1>
    </header>
    <section>
      <h2>Scripts</h2>
      <div id='script-wrapper'></div>
      <div id='log-wrapper' class='flex column'></div>
    </section>
    <footer>
      <button class='button full' id="optionsButton">Options</button>
    </footer>
    <script type="text/javascript" src="../scripts/utils.js"></script>
    <script type="text/javascript" src="../scripts/popup.js"></script>
  </main>
</body>

</html>